
.card-main{
    border-radius: 20px;
    background-color: rgba(64, 138, 151, 0.256);
    width: 300px;
    max-width: 500px;
    max-height: 153px; 
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: rgb(63, 159, 176);
    padding: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
margin-top: -30px;
}

svg {
    margin-right: 8px;
    vertical-align: middle;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
}


.info{
    margin: 4px 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

