.car-images{
  width: 100px;
  height: 100px;
  margin-bottom: 80px;
}



.main{
  background-color: #0067a3;
  background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
}

Copyright{
  align-items: end;
}

